services:
  mars-rover:
    build:
      context: .
      dockerfile: container/Dockerfile
    volumes:
      - ${PWD}:/code:cached
      - ${PWD}/.ssh:/root/.ssh
    command: sleep infinity
    container_name: mars-rover
    networks:
      - mars-rover-net
networks:
  mars-rover-net:
